header.main-header
	div.main-header__menu.clearfix
		div.main-header__logotype
			a.main-header__logo(href='http://csssr.ru/')
			span.main-header__case Секретный архив учреждения 
		div.main-header__stamp
			img(src='img/secret.png' alt='secret-stamp')