div.practice
	span.practice-header Практические навыки
	div.practice__comment Отметьте только те технологии и типы задач, с которыми вы хорошо знакомы. Отсутствие опыта отнюдь не означает, что у вас меньше шансов стать нашим сотрудником. Это означает, что вы будете получать те задачи, с которыми гарантированно будете справляться.
	div.practice__selection.clearfix
		ul.practice__list_left-column
			li.practice__item
				input(type="checkbox" id="practice__item-one" checked)
				label(for="practice__item-one").practice__item-label Методология БЭМ
			li.practice__item
				input(type="checkbox" id="practice__item-two" checked)
				label(for="practice__item-two").practice__item-label  JQuery
			li.practice__item
				input(type="checkbox" id="practice__item-three")
				label(for="practice__item-three").practice__item-label  Использую GRUNT
			li.practice__item
				input(type="checkbox" id="practice__item-four")
				label(for="practice__item-four").practice__item-label  HAML
			li.practice__item
				input(type="checkbox" id="practice__item-five" checked)
				label(for="practice__item-five").practice__item-label  SASS
			li.practice__item
				input(type="checkbox" id="practice__item-six")
				label(for="practice__item-six").practice__item-label  LESS
			li.practice__item
				input(type="checkbox" id="practice__item-seven")
				label(for="practice__item-seven").practice__item-label  CoffeeScript
			li.practice__item
				input(type="checkbox" id="practice__item-eight" checked)
				label(for="practice__item-eight").practice__item-label  Jade
			li.practice__item
				input(type="checkbox" id="practice__item-nine")
				label(for="practice__item-nine").practice__item-label  Stylus
			li.practice__item
				input(type="checkbox" id="practice__item-ten")
				label(for="practice__item-ten").practice__item-label  Знаю (изучаю) Angular
			li.practice__item
				input(type="checkbox" id="practice__item-eleven")
				label(for="practice__item-eleven").practice__item-label  Верстка под Android
			li.practice__item
				input(type="checkbox" id="practice__item-twelve")
				label(for="practice__item-twelve").practice__item-label  Верстка под iOS
			li.practice__item
				input(type="checkbox" id="practice__item-thirteen")
				label(for="practice__item-thirteen").practice__item-label  Верстка под Windows Phone
			li.practice__item
				input(type="checkbox" id="practice__item-fourteen")
				label(for="practice__item-fourteen").practice__item-label  Верстка рассылок
			li.practice__item
				input(type="checkbox" id="practice__item-fifteen" checked)
				label(for="practice__item-fifteen").practice__item-label  Адаптивная верстка
			li.practice__item
				input(type="checkbox" id="practice__item-sixteen")
				label(for="practice__item-sixteen").practice__item-label  Использую Dropbox
			li.practice__item
				input(type="checkbox" id="practice__item-seventeen" checked)
				label(for="practice__item-seventeen").practice__item-label  Использую Gmail
			li.practice__item
				input(type="checkbox" id="practice__item-eighteen" checked)
				label(for="practice__item-eighteen").practice__item-label  Использую GitHub