div.practice-javascript
	div.practice-javascript__header Уровень владения Javascript
	div.practice-javascript__slider
		div#slider.practice-javascript__slider-wrap
			div.practice-javascript__slider-range
		ul.practice-javascript__slider-list
			li.practice-javascript__slider-item Не владею
			li.practice-javascript__slider-item Использую готовые решения
			li.practice-javascript__slider-item Использую готовые решения и умею их переделывать
			li.practice-javascript__slider-item Пишу сложные скрипты