div.studies
	div.studies__academy
		div.studies__academy-graduate Выпускник
			a(href='https://htmlacademy.ru/profile/id106449' target="_blank").studies__academy-htmlacademy htmlacademy.ru
	form.studies__graduate
		ul.studies__graduate-list
			li.studies__graduate-item
				input(type="radio" id="radio-one" name="studies-radio" checked).graduate-item__input
				label(for="radio-one").graduate-item__label Да
			li.studies__graduate-item
				input(type="radio" id="radio-two" name="studies-radio").graduate-item__input
				label(for="radio-two").graduate-item__label Нет
