div.worksheet
	form.worksheet__list
		ul.worksheet-left__list
			li.worksheet-left__item 
				p.worksheet-left__item-left Полное ФИО 
				input(type="text" value="Карванова Кристина Геннадьевна").worksheet-left__item-right.worksheet-left__item-right--fio 
			li.worksheet-left__item 
				p.worksheet-left__item-left Год рождения 
				input(type="text" value="1990").worksheet-left__item-right.worksheet-left__item-right--year
			li.worksheet-left__item 
				p.worksheet-left__item-left  Место жительства 
				input(type="text" value='Россия, г. Королев Моск. обл.').worksheet-left__item-right.worksheet-left__item-right--city
			li.worksheet-left__item 
				p.worksheet-left__item-left  Скайп 
				input(type="text" value="lisit-sa").worksheet-left__item-right.worksheet-left__item-right--skype
			li.worksheet-left__item 
				p.worksheet-left__item-left  Почта 
				input(type="text" value="kristaliska@gmail.com").worksheet-left__item-right.worksheet-left__item-right--mail
