.practice-javascript{
	margin-left: 5px;
	margin-bottom: 50px;
}
.practice-javascript__header{
	font-family: 'pt_sansbold';
	font-size: 22px;
	color: #2f1b15;
	font-weight: 700;
	display: inline-block;
	margin-bottom: 15px;
}
.practice-javascript__slider{
	min-height: 100px;
}
.practice-javascript__slider-wrap{
	position: relative;
	width: 755px;
}
.practice-javascript__slider-range{
	background: url('../img/table.png');
	width: 777px;
	height:  60px;
	position: relative;
}
.ui-slider-handle{
	background: url("../img/spritesheet.png");
	width: 17px;
    height: 14px;
    background-position: -5px -5px;
    display: block;
    position: absolute;
    top: 10px;
    &:focus{
    	outline: none;
    }
}
.practice-javascript__slider-list{
	padding: 0;
	margin: 0;
	margin-left: 5px;
}
.practice-javascript__slider-item{
	vertical-align: top;
	display: inline-block;
	width: 200px;
	margin-right: 20px;
	font-size: 12px;
	&:first-child{
		width: 140px;
		margin-right: 5px;
	}
	&:last-child{
		width: 135px;
		margin-right: 0;
		margin-left: 30px;
	}
}